<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Blog</title>
</head>
<body>
    
    <div>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="About">About</a>
        <a asp-controller="Home" asp-action="Travel">Travel</a>
        <a asp-controller="Home" asp-action="Video">Video</a>
        @*<a asp-controller="Panel" asp-action="Edit">Create a Post</a>
        <a asp-controller="Panel" asp-action="Index">Admin Panel</a>*@

        @*@if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Auth" asp-action="Logout">Logout</a>
        }
        else
        {
            <a asp-controller="Auth" asp-action="Login">Sign In</a>
        }*@
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
