<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Huy Blog | @ViewData["Title"]</title>
    <style>


        #header {
            display: flex;
            margin-left: 20%;
            margin-right: 20%;
        }

            #header .header-item {
                margin-left: 5%;
            }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div id="header">
        <div class="header-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </div>
        <div class="header-item">
            <a asp-controller="Home" asp-action="About">About</a>
        </div>
        @*<div class="header-item">
            <a asp-controller="Home" asp-action="Travel">Travel</a>
        </div>
        <div class="header-item">
            <a asp-controller="Home" asp-action="Photo">Photo</a>
        </div>*@
        @if (User.Identity.IsAuthenticated)
        {
            <div class="header-item">
                <a asp-controller="Panel" asp-action="Create">Create</a>
            </div>
            <div class="header-item">
                <a asp-controller="Panel" asp-action="Index">Admin Panel</a>
            </div>
        }
        <div class="header-item">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Sign In</a>
            }
        </div>
    </div>
    <div class="container">
        <style>


            .main-home {
                margin-left: 25%;
                margin-right: 25%;
            }

            .preview-post {
                margin-top: 20px;
            }

            #cover {
                margin-left: 5px;
                margin-right: 5px;
            }
        </style>
        <div id="cover">
            <img src="~/content/static/Cover.jpg" width="100%" />
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
