<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ho An Huy 123 | @ViewData["Title"]</title>
    <style>
        #header{
            display:flex;
            margin-left:20%;
            margin-right: 20%;
        }
        #header .header-item{
            margin-left: 5%;
        }
    </style>
</head>
<body>
    
    <div id="header">
        <div class="header-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </div>
        <div class="header-item">
            <a asp-controller="Home" asp-action="About">About</a>
        </div>
        <div class="header-item">
            <a asp-controller="Home" asp-action="Travel">Travel</a>
        </div>
        <div class="header-item">
            <a asp-controller="Home" asp-action="Photo">Photo</a>
        </div>
        <div class="header-item">
            <a asp-controller="Panel" asp-action="Edit">Create a Post</a>
        </div>
        <div class="header-item">
            <a asp-controller="Panel" asp-action="Index">Admin Panel</a>
        </div>
        <div class="header-item">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Sign In</a>
            }
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
</body>
</html>
