<style>
    #DIV_1 {
    background-position: 0px 0px;
    height: 680px;
    pointer-events: none;
    width: 1628.67px;
    perspective-origin: 814.333px 340px;
    transform-origin: 814.333px 340px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_1*/

#DIV_1:after {
    pointer-events: none;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_1:after*/

#DIV_1:before {
    pointer-events: none;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_1:before*/

#DIV_2 {
    background-position: 0px 0px;
    box-sizing: border-box;
    display: grid;
    height: 680px;
    min-height: 680px;
    pointer-events: none;
    width: 1628.67px;
    grid-template-columns: 1628.67px;
    grid-template-rows: 158.667px 521.333px;
    perspective-origin: 814.333px 340px;
    transform-origin: 814.333px 340px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_2*/

#DIV_2:after {
    pointer-events: none;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_2:after*/

#DIV_2:before {
    pointer-events: none;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_2:before*/

#DIV_3 {
    background-position: 0px 0px;
    bottom: 0px;
    height: 46.6667px;
    justify-self: start;
    left: 34px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    pointer-events: none;
    position: relative;
    right: -34px;
    top: 0px;
    width: 423px;
    align-self: start;
    perspective-origin: 211.5px 23.3333px;
    transform-origin: 211.5px 23.3333px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
    grid-area: 1 / 1 / 2 / 2;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 68px 0px 44px 324.333px;
}/*#DIV_3*/

#DIV_3:after {
    overflow-wrap: break-word;
    pointer-events: none;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_3:after*/

#DIV_3:before {
    overflow-wrap: break-word;
    pointer-events: none;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_3:before*/

#H2_4 {
    background-position: 0px 0px;
    height: 46.6667px;
    overflow-wrap: break-word;
    width: 423px;
    perspective-origin: 211.5px 23.3333px;
    transform-origin: 211.5px 23.3333px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal 400 normal 36px / normal "eb garamond", serif;
    margin: 0px;
}/*#H2_4*/

#H2_4:after {
    overflow-wrap: break-word;
    font: normal normal 400 normal 36px / normal "eb garamond", serif;
}/*#H2_4:after*/

#H2_4:before {
    overflow-wrap: break-word;
    font: normal normal 400 normal 36px / normal "eb garamond", serif;
}/*#H2_4:before*/

#DIV_5 {
    background-position: 0px 0px;
    bottom: 0px;
    height: 44px;
    justify-self: start;
    left: 37px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    pointer-events: none;
    position: relative;
    right: -37px;
    top: 0px;
    width: 420px;
    align-self: start;
    perspective-origin: 210px 22px;
    transform-origin: 210px 22px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
    grid-area: 2 / 1 / 3 / 2;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0px 0px 10px 324.333px;
}/*#DIV_5*/

#DIV_5:after {
    overflow-wrap: break-word;
    pointer-events: none;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_5:after*/

#DIV_5:before {
    overflow-wrap: break-word;
    pointer-events: none;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_5:before*/

#P_6 {
    background-position: 0px 0px;
    color: rgb(105, 105, 105);
    height: 44px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(105, 105, 105);
    width: 420px;
    column-rule-color: rgb(105, 105, 105);
    perspective-origin: 210px 22px;
    transform-origin: 210px 22px;
    caret-color: rgb(105, 105, 105);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(105, 105, 105);
    font: normal normal 400 normal 15px / 22.5px avenir-lt-w01_35-light1475496, sans-serif;
    margin: 0px;
    outline: rgb(105, 105, 105) none 0px;
}/*#P_6*/

#P_6:after {
    color: rgb(105, 105, 105);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(105, 105, 105);
    column-rule-color: rgb(105, 105, 105);
    caret-color: rgb(105, 105, 105);
    border: 0px none rgb(105, 105, 105);
    font: normal normal 400 normal 15px / 22.5px avenir-lt-w01_35-light1475496, sans-serif;
    outline: rgb(105, 105, 105) none 0px;
}/*#P_6:after*/

#P_6:before {
    color: rgb(105, 105, 105);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(105, 105, 105);
    column-rule-color: rgb(105, 105, 105);
    caret-color: rgb(105, 105, 105);
    border: 0px none rgb(105, 105, 105);
    font: normal normal 400 normal 15px / 22.5px avenir-lt-w01_35-light1475496, sans-serif;
    outline: rgb(105, 105, 105) none 0px;
}/*#P_6:before*/

#SPAN_7 {
    background-position: 0px 0px;
    color: rgb(105, 105, 105);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(105, 105, 105);
    column-rule-color: rgb(105, 105, 105);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(105, 105, 105);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(105, 105, 105);
    font: normal normal 400 normal 15px / 22.5px avenir-lt-w01_35-light1475496, sans-serif;
    outline: rgb(105, 105, 105) none 0px;
}/*#SPAN_7*/

#SPAN_7:after {
    color: rgb(105, 105, 105);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(105, 105, 105);
    column-rule-color: rgb(105, 105, 105);
    caret-color: rgb(105, 105, 105);
    border: 0px none rgb(105, 105, 105);
    font: normal normal 400 normal 15px / 22.5px avenir-lt-w01_35-light1475496, sans-serif;
    outline: rgb(105, 105, 105) none 0px;
}/*#SPAN_7:after*/

#SPAN_7:before {
    color: rgb(105, 105, 105);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(105, 105, 105);
    column-rule-color: rgb(105, 105, 105);
    caret-color: rgb(105, 105, 105);
    border: 0px none rgb(105, 105, 105);
    font: normal normal 400 normal 15px / 22.5px avenir-lt-w01_35-light1475496, sans-serif;
    outline: rgb(105, 105, 105) none 0px;
}/*#SPAN_7:before*/

#DIV_8 {
    background-position: 0px 0px;
    bottom: 0px;
    height: 436px;
    justify-self: start;
    left: 529px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: -529px;
    top: 0px;
    width: 414px;
    align-self: start;
    perspective-origin: 207px 218px;
    transform-origin: 207px 218px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
    grid-area: 2 / 1 / 3 / 2;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 5px 0px 0px 324.333px;
}/*#DIV_8*/

#DIV_8:after {
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_8:after*/

#DIV_8:before {
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_8:before*/

#DIV_9 {
    background-position: 0px 0px;
    height: 436px;
    width: 414px;
    perspective-origin: 207px 218px;
    transform-origin: 207px 218px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#DIV_9*/

#DIV_9:after {
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_9:after*/

#DIV_9:before {
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_9:before*/

#WIX-IMAGE_10 {
    display: block;
    height: 436px;
    left: 0px;
    top: 0px;
    width: 414px;
    perspective-origin: 207px 218px;
    transform-origin: 207px 218px;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#WIX-IMAGE_10*/

#WIX-IMAGE_10:after {
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#WIX-IMAGE_10:after*/

#WIX-IMAGE_10:before {
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#WIX-IMAGE_10:before*/

#IMG_11 {
    background-position: 0px 0px;
    height: 436px;
    object-fit: cover;
    width: 414px;
    perspective-origin: 207px 218px;
    transform-origin: 207px 218px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#IMG_11*/

#IMG_11:after {
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#IMG_11:after*/

#IMG_11:before {
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#IMG_11:before*/


    </style>
@{
    ViewData["Title"] = "About";
}

    <div id="DIV_1">
        <div id="DIV_2">
            <div id="DIV_3">
                <h2 id="H2_4">
                    About Me
                </h2>
            </div>
            <div id="DIV_5">
                <p id="P_6">
                    <span id="SPAN_7">I'm a son, husband, dad and a software developer as well as traveller</span>
                </p>
            </div>
            <div id="DIV_8">
                <div id="DIV_9">
                    <wix id="WIX-IMAGE_10">
                        <img id="IMG_11" alt="" src="~/content/static/about.jpg" />
                    </wix>
                </div>
            </div>
        </div>
    </div>
