
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<img src="~/content/images/about.jpg" width="50%" />
<p>Hồ An Huy</p>
<p>A son, a hushband, a father and a software developer</p>

<a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="https://www.youtube.com/channel/UCvLAedWEOD_35UqPl7jV7pQ?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i></a>
<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
<a href="https://www.linkedin.com/in/huy-ho/" target="_blank"><i class="fa fa-linkedin"></i></a>
