@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _webHosting
@model PostViewModel

@{


}
<h2>@Model.Title</h2>
@if (!string.IsNullOrEmpty(Model.ImageName))
{
<img src="~/content/blog/@Model.ImageName" width="500px"/>
}

<p>@Model.Body</p>