@model BlogEngine.DataTransferObject.SignUpViewModel

@{
    ViewData["Title"] = "Login";
}

<div id="logreg-forms">
    <form action="/signup/" class="form-signup" asp-action="SignUp">
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button">
                <span>
                    <i class="fab fa-facebook-f"></i> Sign
                    up with Facebook
                </span>
            </button>
        </div>
        <div class="social-login">
            <button class="btn google-btn social-btn" type="button">
                <span>
                    <i class="fab fa-google-plus-g"></i> Sign
                    up with Google+
                </span>
            </button>
        </div>

        <p style="text-align:center">OR</p>

        <input asp-for="FullName"
               type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
        <input 
               asp-for="Email"
               type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
        <input 
               asp-for="Password"
               type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
        <input 
               asp-for="ConfirmPassword"
               type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required
               autofocus="">

        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
    </form>
    <br>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/login.js"></script>
}
